name: "Release (dev)"

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'
      - '.github/workflows/**'
      - 'doc/**'
    branches:
      - 'main'

defaults:
  run:
    shell: bash

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Golang Environment
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Run Tests
        run: make test

  push_to_registry:
    name: Push Docker image to DockerHub
    needs: unit-tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: l7mp/stunner-gateway-operator
          tags: |
            type=raw,value=dev

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  push_chart:
    name: Push helm charts to the web
    needs: ["unit-tests", "push_to_registry"]
    runs-on: ubuntu-latest
    steps:
      - name: Triggering release workflow in the stunner-helm repo
        uses: convictional/trigger-workflow-and-wait@v1.6.5
        with:
          github_token: ${{ secrets.WEB_PAT_TOKEN }}
          owner: l7mp
          repo: stunner-helm
          client_payload: '{"tag": "dev", "type": "stunner-gateway-operator"}'
          workflow_file_name: publish.yaml
