name: Lint

on:
  push:
    branches:
      - '*'
    paths-ignore:
      - '**.md'
    tags-ignore:
      - '*'
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Golang Environment
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Lint Code
        uses: golangci/golangci-lint-action@v4
        with:
          args: --timeout 10m0s
