name: Test

on:
  push:
    branches:
      - '*'
    paths-ignore:
      - '**.md'

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Golang Environment
        uses: actions/setup-go@v3
        with:
          go-version: 1.17
      - name: Run Tests
        run: make test